<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>澄园商城</title>
	<!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
     <!-- Morris Chart Styles-->
   
        <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <% include common.ejs %>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            澄园果园 <small>澄园在线</small>
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             商品列表
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>商品名称</th>
                                            <th>商品图片</th>
                                            <th>商品价格</th>
                                            <th>商品数量</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody class="zhanshi">
                                    <% data.forEach(function(item,i){ %>
                                        <tr class="odd gradeX">
                                            <td  class="bianhao"><%= item.bianhao %></td>
                                            <td class="name"><%= item.name %></td>
                                            <td></td>
                                            <td class="center"><%= item.price %></td>
                                            <td class="center"><%= item.number %></td>
                                            <td>
                                              <a href="/goods/xiugai?id=<%= item.bianhao %>" class="btn btn-primary">修改</a>
                                              <button  class="btn btn-danger del">删除</button>
                                            </td>
                                        </tr>
                                      <% })%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables --> 
                </div>
            </div>      
        </div>        
    </div>        
   <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/assets/js/jquery-1.10.2.js"></script>
    <script type="text/javascript">
    $(function(){
      var $ul = $("#main-menu");
      //console.log($ul.children())
      $ul.children().find("a").removeClass().eq(9).addClass("active-menu")
      
    })
     </script>

      <!-- Bootstrap Js -->
    // <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/assets/js/jquery.metisMenu.js"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="/assets/js/dataTables/dataTables.bootstrap.js"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });

    </script>
    <script src="/javascripts/shopping-list.js"></script>
         <!-- Custom Js -->
    <!--<script src="assets/js/custom-scripts.js"></script>-->
    <script>
      $(".del").click(function(){
        var _this = this
        //  var $bianhao = $(this).parents("tr").find(".bianhao")
        //  var $name = $(this).parents("tr").find(".name")
        $.ajax({
          type:"delete",
          url:"/goods/shopping-list",
          data:{bianhao:$(_this).parents("tr").find(".bianhao").text(),
                name:$(_this).parents("tr").find(".name").text(),
              },
          success:function(data){
            if(data.code == 0){
              $(_this).parents("tr").remove()
            }else{
              console.log("删除失败")
            }
          }
        })
      })
    </script>
   
</body>
</html>
